.carousel-icon {
    width: 24px;
    height: 24px;
    transition: transform 0.2s; 
}

.v-carousel-item{
    .v-responsive__content{
        .v-responsive{
            margin-bottom: 20px !important;
        }
    }
}
.v-carousel__controls {
    bottom: -20px;
    max-height: 10px !important;

    &__item {
        &.v-btn.v-btn--icon {
            background-color: #B3B3B3;
            height: 6px;
            width: 6px;
            border-radius: 100%;

            &.v-btn--active {
                background-color: #282828;
            }

            &:hover {
                background-color: #282828;
            }
        }
    }
}

.v-btn__content .v-icon {
    display: none;
}

.slider-control {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: calc(100% + 120px);
    transition: all .2s linear;
    padding: 0 18px !important;
    @media screen and (max-width: 767px) {
        width: calc(100% + 64px);
    }
}

@keyframes carousel-btn {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.2);
    }
  }

  .carousel-btn-size {
    animation: carousel-btn 0.2s forwards; 
  }