@import "vuetify/styles/main";
@import "fonts/stylesheet.css";
@import "fonts/caricature/stylesheet.css";
@import "carousel.scss";
@import "post.scss";
@import "upload.scss";
@import "components/share-instagram.scss";
@import "@mdi/font/css/materialdesignicons.min";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "MetaSerifPro";
  user-select: none !important;
  scrollbar-width: thin;

  &:hover {
    &::-webkit-scrollbar {
      &-track {
        background: #ebebeb;
      }

      &-thumb {
        background: #1d2939;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 100px;
    margin-left: 26px;

    &-track {
      background: transparent;
      border-radius: 100px;
    }

    &-thumb {
      background: transparent;
      border-radius: 100px;

      &:hover {
        background: #081b36;
      }
    }
  }
}

* > p {
  color: black !important;
  font-size: 16px !important;
  font-family: "Playfair Display", sans-serif !important;
  font-weight: 350 !important;
  line-height: 20px !important;
  letter-spacing: 0.13px !important;
}

h1 p,
h1 * {
  font-family: "MetaSerifPro" !important;
  font-size: 31px !important;
  line-height: 38px !important;
}

@media screen and (max-width: 573px) {
  * > p {
    color: black !important;
    font-size: 13px !important;
    font-family: "Playfair Display", sans-serif !important;
    font-weight: 350 !important;
    line-height: 17.55px !important;
    letter-spacing: 0.13px !important;
  }
}

.page-container {
  max-width: 100%;
  width: 600px !important;
  margin: 0 auto;
}

.font-barlow {
  font-family: "Barlow", sans-serif !important;
}

.font-roboto {
  font-family: "Roboto", sans-serif !important;
}

.font-playfair {
  font-family: "Playfair Display", sans-serif !important;
}

div[id^="image-"] .v-responsive__sizer {
  padding-bottom: 90% !important;
}

@media screen and (max-width: 573px) {
  div[id^="image-"] .v-responsive__sizer {
    padding-bottom: 100% !important;
  }
}

.v-application {
  background-color: #f4f6f6 !important;
}
.v-application__wrap {
  min-height: auto !important;
}

body {
  background: #f4f6f6 !important;
}
